@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: 212 68% 36%;
    --primary-foreground: 0 0% 100% 1;
    --secondary: 0 0% 72% 1;
    --accent: 0, 0%, 60%;
    --radius: 0.5rem;
    --tw-shadow-color: 0 0% 100% 1 --warning: 38 92% 50%;
    --warning-foreground: 48 96% 89%;
    --ring: 215 20.2% 65.1%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --input: 214.3 31.8% 91.4%;
    --border: 214.3 31.8% 91.4%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
}


.dark {
    --warning: 48 96% 89%;
    --warning-foreground: 38 92% 50%;
}