@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --primary: 212 68% 36%;
        --primary-foreground: 0 0% 100% 1;
        --secondary: 0 0% 72% 1;
        --accent: 0, 0%, 60%;
        --radius: 0.5rem;
        --tw-shadow-color: 0 0% 100% 1;
        --ring: 215 20.2% 65.1%;
        --destructive: 0 100% 50%;
        --destructive-foreground: 210 40% 98%;
        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        --input: 214.3 31.8% 91.4%;
        --border: 214.3 31.8% 91.4%;
        --popover: 0 0% 100%;
        --popover-foreground: 222.2 47.4% 11.2%;
        --card: 0 0% 100%;
        --card-foreground: 222.2 47.4% 11.2%;
        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;
        --background: 0 0% 100%;
        --foreground: 222.2 47.4% 11.2%;
        --warning: 38 92% 50%;
        --warning-foreground: 48 96% 89%;


        --accent-foreground: 0 0% 9%;
        --destructive-foreground: 0 0% 98%;
        /* --input: 0 0% 89.8%; */
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
    }

    .dark {

        --warning: 48 96% 89%;
        --warning-foreground: 38 92% 50%;
    }
}


.p-icon-field {
    width: 100%;
}

input {
    box-shadow: none;
}

.p-checkbox-box {
    background-color: hsl(var(--primary));
}

.card-gradient {
    position: relative;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease;
}

.card-gradient::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(117.22deg, #FFFFFF 10.96%, rgba(228, 236, 250, 0.8) 52.49%, #FFFFFF 91.48%);
    opacity: 0;
    transition: opacity 1s ease;
    pointer-events: none;
}

.card-gradient:hover::before {
    opacity: 0.8;
}


.react-calendar__navigation {
    border: none !important;
    background: none !important;
}

.react-calendar {
    font-family: "Inter", sans-serif !important;
    border: none !important;
    width: 100%;
}

.react-calendar__tile {
    font-family: inherit !important;
    height: 35px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    color: #000000 !important;
    font-weight: 600 !important;
}

.react-calendar__tile:hover {
    background-color: #DCEAF9 !important;
    color: #0E4481 !important;
}

.react-calendar__tile--now {
    background-color: #beffdb !important;
    font-weight: bold !important;
}

.react-calendar__tile--active {
    background-color: #DCEAF9 !important;
    font-weight: bold !important;
}